# dependencies
node_modules
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
.npm

# blitz
/.blitz/
/.next/
*.sqlite
*.sqlite-journal
.now
.blitz**
blitz-log.log

# local env files
.env
.env.local
.env.*.local
.envrc

# Caches
*.tsbuildinfo

# Typechain Built Types
contracts